.section1 {
    background-color: red;
    display: flex;
    justify-content: center;

    height: 800px;
}

.opening {
    font-size: 200px;
}

.section2 {
    background-color: coral;
    height: 800px;
}

.section3 {
    background-color: maroon;
    height: 800px;
}

.section4 {
    background-color: lightpink;
    height: 800px;
}

.section5 {
    background-color: lightskyblue;
    height: 800px;
}

.section6 {
    background-color: lightgoldenrodyellow;
    height: 800px;
}